NODE_ENV=development

APP_NAME=api
APP_PORT=3000
APP_API_PREFIX=/
APP_API_VERSION=1.0.0

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=
DB_LOGGING=
DB_SSL=
DB_CA=""

AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
PUSHER_ENCRYPTED=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=